<div id="<%= dom_id team %>">
  <p>
    <strong>Team api:</strong>
    <%= team.team_api_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= team.logo %>
  </p>

</div>
