<p style="color: green"><%= notice %></p>

<h1>Team stats</h1>

<div id="team_stats">
  <% @team_stats.each do |team_stat| %>
    <%= render team_stat %>
    <p>
      <%= link_to "Show this team stat", team_stat %>
    </p>
  <% end %>
</div>

<%= link_to "New team stat", new_team_stat_path %>
