<h1>Editing team event</h1>

<%= render "form", team_event: @team_event %>

<br>

<div>
  <%= link_to "Show this team event", @team_event %> |
  <%= link_to "Back to team events", team_events_path %>
</div>
