<p style="color: green"><%= notice %></p>

<h1>Team events</h1>

<div id="team_events">
  <% @team_events.each do |team_event| %>
    <%= render team_event %>
    <p>
      <%= link_to "Show this team event", team_event %>
    </p>
  <% end %>
</div>

<%= link_to "New team event", new_team_event_path %>
