<div id="<%= dom_id country %>">
  <p>
    <strong>Country code:</strong>
    <%= country.country_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= country.name %>
  </p>

  <p>
    <strong>Flag:</strong>
    <%= country.flag %>
  </p>

</div>
